@charset "UTF-8";
* {
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {

#fv {
    justify-content: center;
}

#top-list a {
    padding: 0 10px;
}

#home h1 {
    font-size: 100px;
    padding-top: 255px;
}

#home p {
    font-size: 30px;
}

#logo {
    display: none;
}

#works {
    padding: 5%;
}

#works dd {
    font-size: 15px;
    line-height: 2;
}

#code h2 {
    font-size: 13px;
} 

#stop {
    font-size: 13px;
}

#feature {
    padding: 0 10%;
    flex-direction: column;
}

#pc {
    text-align: center;

}

#pc img {
    padding: 0;
    width: 600px;
    height: 300px;
}

#item {
    margin-top: 5px;
}

#contents {
    margin: 5% 0;
}

#about dl {
    flex-direction: column;
    padding: 5% 20%;
    margin: 0 10%;
    text-align: center;
}
 
#about dt {
    margin: 0;
    padding: 0;
}

#about dd {
    text-align: center;

}

#about span {
    margin-top: 5px;
}

#skill  h3 {
    margin: 0 5%;
}

#service {
    margin: 0;
}

#list {
    width: 40%;
}


#service {
    padding: 5% 0;
}

#tex {
    display: none;
}

}

@media screen and (min-width: 1000px) {
    
#clear {
    display: none;
}
}

  

@media screen and (max-width: 768px) {
    
    #fv {
        justify-content: flex-end;    
    }

    
    #home h1 {
        font-size: 75px;
    }
    
    #home p {
        font-size: 20px;
    }
    
    #works dd {
        font-size: 13px;
    }

    #feature {
        padding: 0 6%;
    }
    
    #about {
        margin: 3% 5%;
    }
    
    #about dl {
        padding: 0 10%;
        margin: 5% 0;
    }
    
    #about dd {
        font-size: 15px;
    }

    #text {
        display: block; 
    }

    #texts {
        display: block;
    }

    #text {
        display: none; 
    }

}


@media screen and (max-width: 599px) {

    header {
        padding: 0 5%;
        line-height: 35px;
    }

    #top-list {
        justify-content: space-around;
        text-align: center;
    }

    #top-list li {
        font-size: 15px;
    }

    #home h1 {

        font-size: 60px;
    }

    #texter {
        display: block; 
    }
  
    #item p {
        font-size: 14px;
    }

    #about dt img {
        height: 350px;
        width: 350px;
    }

    #about dl {
        padding: 0 5%;
    }


    #list {
        width: 100%;
    }

    #skill #text {
        display: none;
    }

    #service {
        margin: 0 10px;
    }

}
