@charset "UTF-8";
* {
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {

#menu {
    flex-direction: column;
}

#home h1 {
    font-size: 100px;
    padding-top: 255px;
}

#home p {
    font-size: 30px;
}

.logo {
    display: none;
}

#works {
    padding: 5%;
}

#works dd {
    font-size: 15px;
}

#stop {
    font-size: 13px;
}

#feature {
    padding: 0 10%;
    flex-direction: column;
}

#pc {
    text-align: center;

}

#pc img {
    padding: 0;
    width: 600px;
    height: 300px;
}

#item {
    margin-top: 5px;
}

#contents {
    margin: 5% 0;
}

#about dl {
    flex-direction: column;
    margin: 0;
    padding: 5% 0;
}

#about span {
    margin-top: 5px;
}

#skill  h3 {
    margin: 0 5%;
}

#service {
    margin: 0;
}

#list {
    width: 40%;
}


#service {
    padding: 5% 0;
}

} 

@media screen and (max-width: 768px) {

    .ipad {
        display: block;
    }

    header {
        padding: 0 3%;   
    }

    #menu a {
        padding: 0 13px;
    }
    
    #home h1 {
        font-size: 75px;
    }

    h2 {
        font-size: 13px;
    }
    
    #home p {
        font-size: 20px;
    }
    
    #works dd {
        font-size: 13px;
    }

    #feature {
        padding: 0 6%;
    }
    
    #about {
        margin: 3% 5%;
    }
    
    #about dd {
        font-size: 15px;
    }

    .pc img {
        padding: 0;
        width: 650px;
        height: 320px;
    }

    .list {
        width: 40%;
    }

    .small {
        font-size: 20px;
    }

}


@media screen and (max-width: 599px) {


    .ip {
        display: block;
    }

    header {
        line-height: 2;
        display: block;
        z-index: 20;
        position: fixed;
        top: 0;
    }

    #menu li {
        font-size: 12px;
    }

    #menu a {
        padding: 0;
    }

    #home h1 {

        font-size: 60px;
    }

    h3 {
        font-size: 15px;
    }
  
    .item p {
        font-size: 13px;
    }

    #feature {
        padding: 0 5px;
    }

    .pc img {
        width: 550px;
        height: 250px;
    }

    #works {
        padding: 3%;
    }

    #works dd {
        font-size: 11px;
    }

    #about dt img {
        height: 350px;
        width: 350px;
    }

    #about dl {
        padding: 5% 0;
    }

    #about dd {
        text-align: justify;
        font-size: 13px;
    }

    #about span {
        font-size: 15px;
    }

    .list {
        width: 100%;
    }

    #service {
        margin: 0 10px;
    }

}
