@charset "UTF-8";

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*---------------------------------------------------*/

header {
    padding: 0 8%;
    line-height: 55px;
    background-color: #fff;
    width: 100%;
    color: #4a387c;
    border-bottom: solid #4a387c;
    position: fixed;
    top: 0px;
    z-index: 10;
}

#fv span {
    display: none;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    color: #4a387c;
}

h2 {
    text-align: center;
    font-size: 18px;
    opacity: 0.7;
}

#item h3 {
    font-size: 18px;
    font-weight: bold;
    border-style: solid;
    border-width: 0 0 1px 5px;
}

h4 {
    border-bottom: darkorchid solid ;
    font-size: 20px;
    line-height: 1.2;
    font-family: ゴシック体;
    font-weight: bold;  
    margin-bottom: 30px;

}

#color {
    background-color: #eaf6fd;
}

#fv {
    margin: 0 auto;
    display: block;
    display: flex;
    justify-content: space-between;
}

#top-list li {
    font-size: 20px;
    font-weight: bold;
    display: inline-flex;
    transition: all 0.5s;
}

#top-list a:hover {
    background-color:#4a387c;
    color: white;
}

#top-list a {
    padding: 0 18px;
    display: block;
}

#logo {
    color: #4a387c;
    font-weight: bold;
    font-size: 20px;
}

#home {
    background-image: url(css/images/top.jpg);
    background-color: #97cbf3;
    background-blend-mode: hard-light;
    height: 520px;
    margin: 0 auto;
    text-shadow: 1px 2px 3px #4a387c;
}

#home h1 {
    color: #fff;
    font-style: italic;
    padding-top: 185px;
    font-size: 100px;
    line-height: 100%;
}

#home p {
    color: #fff;
    font-size: 45px;
    font-style: italic;
    text-align: center;
}

.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#text {
    display: none;
}

#works {
    padding: 50px 150px;
    
}

#works dl {
    text-align: center;
}

#works dt {
    margin: 20px 15px;
    display: inline-flex;
}

#works dd {
    font-family: ゴシック体;
    flex-direction: column;
    font-size: 18px;
    line-height: 3;
    background-color: #fff;
}

#stop {
    text-align: center;
    margin: 50px;
}

#feature {
    margin-top: 50px;
    display: flex;
    padding: 0 100px 50px 100px;
}

#pc img {
    padding: 0 80px 0 15px;
    width: 680px;
    height: 440px;
}
 
#item p {
    font-size: 15px;
}

#item {
    margin-bottom: 13px;
}

#speace {
    margin-top: 50px;
}


#about dt {
    margin: 0 90px;
}

#about dt img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 90px 18px 0 5px;
}

#about dl {
    display: inline-flex;
    padding: 40px 100px;
}

#about span {
    border-bottom: darkorchid solid ;
    font-size: 18px;
    font-weight: bold;
    font-family: ゴシック体;
    opacity: 0.7;
    line-height: 3;
} 

#skill  h3 {
    margin: 2%;
    text-align: center;
    border-bottom: 5px solid #97cbf3;
}

#service {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#list {
    border: solid;
    border-color: #97cbf3;
    border-radius: 10px;
    height: 250px;
    width: 300px;
    padding: 15px;
    margin: 12px;
}



